
/*
.xbox .button {
    position: absolute;
    background: url(xbox-assets/abxy.svg);
    width: 48px;
    height: 48px;
}
*/

.custom .button {
    position: absolute;
    width: 48px;
    height: 48px;
    background: url(https://gamepadviewer.com/ps4-assets/face.svg);
}


/*
.xbox .a {
    background-position: 0 0;
    top: 108px;
    left: 55px;
}

.xbox .b {
    background-position: -49px 0;
    top: 58px;
    right: 0px;
}

.xbox .x {
    background-position: -98px 0;
    top: 58px;
    left: 4px;
}

.xbox .y {
    background-position: 48px 0;
    left: 55px;
    top: 7px;
}
*/

.custom .a {
    background-position: 0 0;
    top: 108px;
    left: 55px;
}

.custom .b {
    background-position: -49px 0;
    top: 58px;
    right: 0px;
}

.custom .x {
    background-position: -98px 0;
    top: 58px;
    left: 4px;
}

.custom .y {
    background-position: 48px 0;
    left: 55px;
    top: 7px;
}

